.lead {
    font-family: "Inter", "Arial", "Helvetica", "sans-serif";
    width: 90%;
    max-width: 984px;
    margin: 56px auto 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px auto 0 auto;
        width: 100%;
    }
}