.lead__image {
    margin-top: 64px;
    width: 100%;
    height: 62.5%;
    max-width: 984px;
    max-height: 615px;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        height: 62.5%;
        margin: 56px 0 0 0;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
        margin: 40px 0 0 0;
    }
}
